/* --- Baseline --- */

@font-face {
  font-family: "PIXELATED";
  src: url(pixelnew_alt_INVERT-Regular.woff) format("woff");
  font-weight: bold;
  /* font-style: ; */
}
@font-face {
  font-family: "PIXELATED";
  src: url(pixelnew_alt_double-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url(PixelatedRegular-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}


:root {
  --content-width: 65rem;
}

*,
*:after,
*:before {
  margin: 0;
  padding-left: 0;
    padding-right: 0;
  box-sizing:content-box;
}

body {
    
  height: 100%;
background-color: #FFFFBA;
 
/*cursor: url(../assets/joel3_riktigtliten.png), auto;
background-color: white;*/
   
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1,
h2,
header nav {
  font-size: 8vw;
  font-weight: normal;
  margin: 0px;
  line-height: 1;
  display: table;
  max-width: 18ch;
  
   
 
    }

h3,
header nav {
  font-size: 5vw;
  font-weight: bold;
  margin: 0px;;
  line-height: 1;
  display: inline-block;
  max-width: 18ch;
    
    }



h1:hover,
h2:hover,
nav:hover {
  font-weight: bold;  
   
}

img,
video {
  width: 100%;
}

/* --- Baseline --- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
   

  justify-content:space-between;
  font-family: PIXELATED;
    color:rgb(255,0,0)
        
}

header.project,
header.home {
  position: initial;
}
header.CV {
  position: initial;
}


header.about,
header.text {
  position: initial;
  display: block;
     filter: drop-shadow(1px 1px 1px #000000);
}

header.about nav,
header.text nav,
header.project nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
     
}

/* --- Main --- */
main {
  width: 100%;

}

/* --- Home page --- */

.projects h2 {
  font-family: PIXELATED;
    
  display: inline;
    
}




.projects ul li {
  margin-top: 2.5rem;
}

.projects ul li:first-child {
  margin-top: 5rem;
}

.projects img {
    
  display:inline;
    
 
 
   
  
   
  width: 15%;
  vertical-align: top;
}

.projects img.s {
  width: 60%;
    
}

.projects img.m {
  width: 100%;
    padding-bottom: 0.5rem;
}

.projects img.l {
  width: 45%;
    padding-top: 0.8rem;
}

.projects .text {
  width: 100%;
  max-width: 50ch;
    
}

.projects .text p:first-of-type {
  padding-top: 0.5rem;
}

.exerpt-text-box {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}


    
    }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: relative;

    left: 0;
  width: 100%;
  overflow: hidden;
  height: 5vw;
  background-color: #FFFFFF;
  box-sizing: content-box;
   

}
.ticker-wrap .ticker {
  display: inline-block;
  height: 5vw;
  line-height: 5vw;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2vw;
  font-family: PIXELATED;
  font-size: 5vw;
  color: #FF0000;
   
}

footer {
  
  font-family: "PIXELATED";
  width: 100%;
    background-color: #C0C0C0;
  z-index: 2;
    
}

footer section {
  width: 100%;
}

