

body {
 
cursor: url(../assets/joel3_riktigtliten.png), auto;
background-color: rgb(192,192,192)
   
}





 p {
font-family: 'times_new_romanregular';  
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -25px; 
  margin-bottom: 10px;
    text-align: left;

    
}




.info {
  position: relative;
  width: 100%;
font-family: 'times_new_romanregular';
  font-size: 7.2vw;
  color:rgb(255,0,0)
  
}




.container {
  position: relative;
  width: 100%;
font-family: 'times_new_romanregular';
  font-size: 7.2vw;
  color:rgb(255,0,0)
  
}




.responsive {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;

    
}







a:link{

color: rgb(255,0,0);

text-decoration: underline;

}

a:visited {

color: rgb(255,0,0);

}

a:hover {

text-decoration: underline;
    color: rgb(255,0,0);

}

a:active {

color: black;

}




.container {
  position: relative;
  margin-left: 0;
  width: 100%;
  font-family: Times serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7.2vw;

 }




.container {
  position: relative;
  margin-left: 0;
  width: 100%;
  font-family: Times serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7.2vw;

 }




}

.container {
  position: relative;
  margin-left: 0;
  width: 100%;
  font-family: 'times_new_romanregular';
  font-style: normal;
  font-weight: normal;
  font-size: 7.2vw;

 }




}

.container {
  position: relative;
  margin-left: 0;
  width: 100%;
  font-family: 'times_new_romanregular';
  font-style: normal;
  font-weight: normal;
  font-size: 7.2vw;

 }



      

.studies {
  position: relative;
  margin-left: 0;
  width: 100%;
  
padding-top: 0px;
  font-family: 'times_new_romanregular';
  font-style: normal;
  font-weight: normal;
  font-size: 7.2vw;
  color: rgb(0,0,255)


 }





